@{
    ViewBag.Title = "DeletePhotoConfirm";
}


<h2>Delete @ViewBag.PhotoName ?</h2>
<h4>Are you sure you want to delete <strong>@ViewBag.PhotoNameOrigin </strong> ? </h4>
<img src="@ViewBag.PhotoNameOrigin" alt="" class="img-rounded" width="204" height="153">
<br /><br />
<button type="button" id="confirm" class="btn btn-danger" data-a="cc">Delete</button>
<input type="button" value="Cancel" onclick='goBack()' class="btn btn-info" />


<script>
    function goBack() {
        document.location='Photos'
    }

    $("#confirm").click(function () {
        var input = '@ViewBag.PhotoNameSlashed';

        $.get("/Home/RemovePhoto", { photo: input }, function (data) { });
        document.location = 'Photos';
    });
</script>
