@{
    ViewBag.Title = "DeleteConfirm";
}


<h2>DeleteConfirm</h2>
<h4>Are you sure you want to delete <strong>@ViewBag.MessageOrigin </strong> Directory? </h4>
<button type="button" id="confirm" class="btn btn-success" data-a="cc">Yes</button>
<input type="button" value="Cancel" onclick='goBack()' class="btn btn-danger"/>


<script>
    function goBack() {
        document.location='Config'
    }

    $("#confirm").click(function () {
        var input = '@ViewBag.MessageSlashed';

        $.get("/Home/Remove", { dir: input }, function (data) { });
        //wait here if not updated
        document.location = 'Config';
    });
</script>
