
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>
<h4>Are you sure you want to delete <strong>@ViewBag.Message </strong> Directory? </h4>
<button type="button" id="confirm" class="btn btn-success" data-a="cc">Yes</button>
<input type="button" value="Cancel" onclick='goBack()' class="btn btn-danger"/>


<script>
    function goBack() {
        document.location='Config'
    }


    //function remove() {

    //    document.location='Config'
    //}

    $("#confirm").click(function () {
        var input = '@ViewBag.Message';

        $.get("Home/Remove", { dir: input }, function (data) { });
        document.location = 'Config'
        //alert(input);
        @*$.post("@Url.Action("GetEmployee")", input, function (data) {
            $("#lstProducts").append("<li>" + data.FirstName + " " + data.LastName + " : $" + data.Salary + "</li>");
        }, "json");*@
    });
</script>
