@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Image Service</h1>
    @*@if (ViewBag.ServiceRunning)
    {
        <span style="font-weight: bold; font-size: large" class="badge badge-success">Active</span>
    }
    else
    {
        <span style="font-weight: bold; font-size: large" class="badge badge-warning">Inactive</span>*@
    }
    <p class="lead">We cant promise we'll try but we'll try to try.</p>
</div>