@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Image Server</h1>
    <h2>@ViewBag.Message</h2>
    <p class="lead">I do not know who are you <br> but i will find you<br> and i will kill you!</p>
</div>